apiVersion: apps/v1
kind: Deployment
metadata:
  name: discord-bot
  namespace: humanglue
spec:
  template:
    spec:
      containers:
        - name: discord-bot
          resources:
            requests:
              memory: "256Mi"
              cpu: "200m"
            limits:
              memory: "1Gi"
              cpu: "1000m"
